
@{
    ViewData["Title"] = "Proveedores";
}

    <h1>Proveedores</h1>
    <div class="container text-center">
        <br />
        <br />
        <br />
        <br />

        <div class="text-center  form-group row">
            <div class="col-4">
                <h4>Agregar un nuevo Proveedor</h4>
                <br />
                <p class="">Descripcion...</p>
                <br />
                <a class="btn btn-success" asp-controller="Proveedores" asp-action="IndexProveedores">Ir</a>
            </div>
            <div class="col-5">
                <h4>Editar/Eliminar un Proveedor</h4>
                <br />
                <p class="">Descripcion...</p>
                <br />
                <a class="btn btn-success" asp-controller="Proveedores" asp-action="IndexProveedores">Ir</a>
            </div>
            <div class="col-3">
                <h4>Ver Proveedores</h4>
                <br />
                <p class="">Descripcion...</p>
                <br />
                <a class="btn btn-success" asp-controller="Proveedores" asp-action="IndexProveedores">Ir</a>
            </div>
        </div>
    </div>

